.Ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.Ul > li {
    height: 100%;
}
.Ul > li > a {
    height: 100%;
    display: flex;
    align-items: center;
}

.Nav {
    height: 40px;
}
